xsd/cfint-structured.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://mcf.markhome.server/mcf/v3_1/xsd/cfint-structured.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://mcf.markhome.server/mcf/v3_1/xsd/cfint-structured.xsd" version="3.1">
<xs:import namespace="http://mcf.markhome.server/mcf/v3_1/xsd/cflibdbutil-3.1.xsd" schemaLocation="http://mcf.markhome.server/mcf/v3_1/xsd/cflibdbutil-3.1.xsd"/>


<xsd:annotation>
	<xsd:documentation xml:lang="en">
		CFInt schema CFInt
	</xsd:documentation>
</xsd:annotation>

<!-- ************************************************************************
 *
 *	Schema Atomic Types
 *
 **************************************************************************-->

<xsd:simpleType name="AuditActionEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="Created"/>
		<xsd:enumeration value="Updated"/>
		<xsd:enumeration value="Deleted"/>
		<xsd:enumeration value="Mutated"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecLevelEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="System"/>
		<xsd:enumeration value="Global"/>
		<xsd:enumeration value="Cluster"/>
		<xsd:enumeration value="Tenant"/>
		<xsd:enumeration value="SysRole"/>
		<xsd:enumeration value="ClusRole"/>
		<xsd:enumeration value="TentRole"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecAccountStatusEnumType">
	<xsd:restriction base="xsd:token">
		<xsd:minLength value="1"/>
		<xsd:maxLength value="127"/>
		<xsd:whiteSpace value="collapse"/>
		<xsd:enumeration value="System"/>
		<xsd:enumeration value="VerifyingEmail"/>
		<xsd:enumeration value="CreatingDevKey"/>
		<xsd:enumeration value="NormalUser"/>
		<xsd:enumeration value="ResettingPassword"/>
		<xsd:enumeration value="Locked"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="ISO6391LangCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="2"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISO6392LangCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="3"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="3"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyIdGenType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryCodeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="2"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryCode3Type">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="3"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LoginIdTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="GroupNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="EMailAddrTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="512"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryIdGenType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLangIdGenType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneIdGenType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="TenantIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="DomNameTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DomainDescrTypeType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="MimeTypeIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="SubProjectIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="TldIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="TopDomainIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="TopProjectIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolIdGenType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="LicenseIdGenType">
	<xsd:restriction base="DbKeyHash256"/>
</xsd:simpleType>

<!-- ************************************************************************
 *
 *	Table Column Types
 *
 **************************************************************************-->

<xsd:simpleType name="ClusterIdType">
	<xsd:restriction base="ClusterIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterFullDomNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ClusterRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyISOCcyIdType">
	<xsd:restriction base="ISOCcyIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyISOCodeType">
	<xsd:restriction base="ISOCcyCodeType">
		<xsd:maxLength value="3"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyUnitSymbolType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="4"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyPrecisType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCcyRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryISOCtryIdType">
	<xsd:restriction base="ISOCtryIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryISOCodeType">
	<xsd:restriction base="ISOCtryCodeType">
		<xsd:maxLength value="2"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryCcyISOCtryIdType">
	<xsd:restriction base="ISOCtryIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryCcyISOCcyIdType">
	<xsd:restriction base="ISOCcyIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryCcyRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryLangISOCtryIdType">
	<xsd:restriction base="ISOCtryIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryLangISOLangIdType">
	<xsd:restriction base="ISOLangIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOCtryLangRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOLangISOLangIdType">
	<xsd:restriction base="ISOLangIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLangISO6392CodeType">
	<xsd:restriction base="ISO6392LangCodeType">
		<xsd:maxLength value="3"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLangISO6391CodeType">
	<xsd:restriction base="ISO6391LangCodeType">
		<xsd:maxLength value="2"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLangEnglishNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOLangRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneISOTZoneIdType">
	<xsd:restriction base="ISOTZoneIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneIso8601Type">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="6"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneTZNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneTZHourOffsetType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneTZMinOffsetType">
	<xsd:restriction base="xsd:short"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneVisibleType">
	<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>

<xsd:simpleType name="ISOTZoneRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="LicenseIdType">
	<xsd:restriction base="LicenseIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseTopDomainIdType">
	<xsd:restriction base="TopDomainIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseEmbeddedTextType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="8000"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseFullTextType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="8000"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LicenseRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionIdType">
	<xsd:restriction base="MajorVersionIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionSubProjectIdType">
	<xsd:restriction base="SubProjectIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MajorVersionRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="MimeTypeMimeTypeIdType">
	<xsd:restriction base="MimeTypeIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MimeTypeNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MimeTypeFileTypesType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="128"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MimeTypeRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionIdType">
	<xsd:restriction base="MinorVersionIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionMajorVersionIdType">
	<xsd:restriction base="MajorVersionIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="MinorVersionRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpSecClusGrpIdType">
	<xsd:restriction base="SecClusGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpClusterIdType">
	<xsd:restriction base="ClusterIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpMembSecClusGrpIdType">
	<xsd:restriction base="SecClusGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusGrpMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleSecClusRoleIdType">
	<xsd:restriction base="SecClusRoleIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleClusterIdType">
	<xsd:restriction base="ClusterIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleMembSecClusRoleIdType">
	<xsd:restriction base="SecClusRoleIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecClusRoleMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecSessionIdType">
	<xsd:restriction base="SecSessionIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSessionStartType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionFinishType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecSessionSecProxyIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSessionRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpSecSysGrpIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpSecLevelType">
	<xsd:restriction base="SecLevelEnumType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpIncSecSysGrpIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpIncInclNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpIncRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpMembSecSysGrpIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysGrpMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleSecSysRoleIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleEnablesSecSysRoleIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleEnablesEnableNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleEnablesRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleMembSecSysRoleIdType">
	<xsd:restriction base="SecSysGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecSysRoleMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpSecTentGrpIdType">
	<xsd:restriction base="SecTentGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpMembSecTentGrpIdType">
	<xsd:restriction base="SecTentGrpIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentGrpMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleSecTentRoleIdType">
	<xsd:restriction base="SecTentRoleIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleMembSecTentRoleIdType">
	<xsd:restriction base="SecTentRoleIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleMembLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecTentRoleMembRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserSecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserLoginIdType">
	<xsd:restriction base="LoginIdTypeType">
		<xsd:maxLength value="32"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserAccountStatusType">
	<xsd:restriction base="SecAccountStatusEnumType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserDfltSysGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserDfltClusGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserDfltTentGrpNameType">
	<xsd:restriction base="GroupNameType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMailAddressType">
	<xsd:restriction base="EMailAddrTypeType">
		<xsd:maxLength value="512"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfSecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfConfirmEMailAddrType">
	<xsd:restriction base="EMailAddrTypeType">
		<xsd:maxLength value="512"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfEMailSentStampType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfEMConfirmationUuid6Type">
	<xsd:restriction base="Uuid6"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfNewAccountType">
	<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserEMConfRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWHistorySecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWHistoryPWSetStampType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWHistoryPWReplacedStampType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWHistoryPasswordHashType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="256"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWHistoryRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWResetSecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWResetSentToEMailAddrType">
	<xsd:restriction base="EMailAddrTypeType">
		<xsd:maxLength value="512"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWResetPasswordResetUuid6Type">
	<xsd:restriction base="Uuid6"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWResetNewAccountType">
	<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPWResetRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordSecUserIdType">
	<xsd:restriction base="SecUserIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordPWSetStampType">
	<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordPasswordHashType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="256"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SecUserPasswordRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SubProjectIdType">
	<xsd:restriction base="SubProjectIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SubProjectTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SubProjectTopProjectIdType">
	<xsd:restriction base="TopProjectIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SubProjectNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SubProjectDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SubProjectRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SysClusterSingletonIdType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="SysClusterClusterIdType">
	<xsd:restriction base="ClusterIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SysClusterRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TenantClusterIdType">
	<xsd:restriction base="ClusterIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TenantTenantNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="192"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TenantRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TldIdType">
	<xsd:restriction base="TldIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TldTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TldNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TldDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TldRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TopDomainIdType">
	<xsd:restriction base="TopDomainIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopDomainTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopDomainTldIdType">
	<xsd:restriction base="TldIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopDomainNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopDomainDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopDomainRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="TopProjectIdType">
	<xsd:restriction base="TopProjectIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopProjectTenantIdType">
	<xsd:restriction base="TenantIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopProjectTopDomainIdType">
	<xsd:restriction base="TopDomainIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopProjectNameType">
	<xsd:restriction base="DomNameTypeType">
		<xsd:maxLength value="64"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopProjectDescriptionType">
	<xsd:restriction base="DomainDescrTypeType">
		<xsd:maxLength value="1024"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="TopProjectRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolURLProtocolIdType">
	<xsd:restriction base="URLProtocolIdGenType">
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolNameType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="16"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolDescriptionType">
	<xsd:restriction base="xsd:string">
		<xsd:maxLength value="50"/>
		<xsd:whiteSpace value="preserve"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolIsSecureType">
	<xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>

<xsd:simpleType name="URLProtocolRevisionType">
	<xsd:restriction base="xsd:integer"/>
</xsd:simpleType>

<!-- ************************************************************************
 *
 *	Schema Primary Index Types
 *
 **************************************************************************-->

<xsd:complexType name="ClusterIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="ClusterIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCcyIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCcyId" type="ISOCcyISOCcyIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCtryId" type="ISOCtryISOCtryIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryCcyIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCtryId" type="ISOCtryCcyISOCtryIdType" use="required"/>
	<xsd:attribute name="ISOCcyId" type="ISOCtryCcyISOCcyIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryLangIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOCtryId" type="ISOCtryLangISOCtryIdType" use="required"/>
	<xsd:attribute name="ISOLangId" type="ISOCtryLangISOLangIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOLangIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOLangId" type="ISOLangISOLangIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOTZoneIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="ISOTZoneId" type="ISOTZoneISOTZoneIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="LicenseIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="LicenseIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="MajorVersionIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="MajorVersionIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="MimeTypeIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="MimeTypeId" type="MimeTypeMimeTypeIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="MinorVersionIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="MinorVersionIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecClusGrpIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecClusGrpId" type="SecClusGrpSecClusGrpIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecClusGrpMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecClusGrpId" type="SecClusGrpMembSecClusGrpIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecClusGrpMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecClusRoleIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecClusRoleId" type="SecClusRoleSecClusRoleIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecClusRoleMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecClusRoleId" type="SecClusRoleMembSecClusRoleIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecClusRoleMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSessionIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSessionId" type="SecSessionSecSessionIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysGrpId" type="SecSysGrpSecSysGrpIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpIncIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysGrpId" type="SecSysGrpIncSecSysGrpIdType" use="required"/>
	<xsd:attribute name="InclName" type="SecSysGrpIncInclNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysGrpId" type="SecSysGrpMembSecSysGrpIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecSysGrpMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysRoleId" type="SecSysRoleSecSysRoleIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleEnablesIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysRoleId" type="SecSysRoleEnablesSecSysRoleIdType" use="required"/>
	<xsd:attribute name="EnableName" type="SecSysRoleEnablesEnableNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecSysRoleId" type="SecSysRoleMembSecSysRoleIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecSysRoleMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentGrpIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecTentGrpId" type="SecTentGrpSecTentGrpIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentGrpMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecTentGrpId" type="SecTentGrpMembSecTentGrpIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecTentGrpMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentRoleIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecTentRoleId" type="SecTentRoleSecTentRoleIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentRoleMembIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecTentRoleId" type="SecTentRoleMembSecTentRoleIdType" use="required"/>
	<xsd:attribute name="LoginId" type="SecTentRoleMembLoginIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserSecUserIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserEMConfIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserEMConfSecUserIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPWHistIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserPWHistorySecUserIdType" use="required"/>
	<xsd:attribute name="PWSetStamp" type="SecUserPWHistoryPWSetStampType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPWResetIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserPWResetSecUserIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPasswordIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecUserPasswordSecUserIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SubProjectIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="SubProjectIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SysClusterIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="SingletonId" type="SysClusterSingletonIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TenantIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="TenantIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TldIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="TldIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TopDomainIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="TopDomainIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TopProjectIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="Id" type="TopProjectIdType" use="required"/>
</xsd:complexType>

<xsd:complexType name="URLProtocolIdIdxType" mixed="true">
	<xsd:sequence>
	</xsd:sequence>
	<xsd:attribute name="URLProtocolId" type="URLProtocolURLProtocolIdType" use="required"/>
</xsd:complexType>

<!-- ************************************************************************
 *
 *	Schema Table Object Types
 *
 **************************************************************************-->

<xsd:complexType name="ClusterObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Tenant" type="TenantObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="FullDomName" type="ClusterFullDomNameType" use="required"/>
	<xsd:attribute name="Description" type="ClusterDescriptionType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCcyObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOCode" type="ISOCcyISOCodeType" use="required"/>
	<xsd:attribute name="Name" type="ISOCcyNameType" use="required"/>
	<xsd:attribute name="UnitSymbol" type="ISOCcyUnitSymbolType" use="optional"/>
	<xsd:attribute name="Precis" type="ISOCcyPrecisType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ISOCtryCcy" type="ISOCtryCcyObjType" />
			<xsd:element name="ISOCtryLang" type="ISOCtryLangObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISOCode" type="ISOCtryISOCodeType" use="required"/>
	<xsd:attribute name="Name" type="ISOCtryNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryCcyObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Ccy" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOCtryLangObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Lang" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOLangObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ISO6392Code" type="ISOLangISO6392CodeType" use="required"/>
	<xsd:attribute name="ISO6391Code" type="ISOLangISO6391CodeType" use="optional"/>
	<xsd:attribute name="EnglishName" type="ISOLangEnglishNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="ISOTZoneObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Iso8601" type="ISOTZoneIso8601Type" use="required"/>
	<xsd:attribute name="TZName" type="ISOTZoneTZNameType" use="required"/>
	<xsd:attribute name="TZHourOffset" type="ISOTZoneTZHourOffsetType" use="required"/>
	<xsd:attribute name="TZMinOffset" type="ISOTZoneTZMinOffsetType" use="required"/>
	<xsd:attribute name="Description" type="ISOTZoneDescriptionType" use="required"/>
	<xsd:attribute name="Visible" type="ISOTZoneVisibleType" use="required"/>
</xsd:complexType>

<xsd:complexType name="LicenseObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="LicenseNameType" use="required"/>
	<xsd:attribute name="Description" type="LicenseDescriptionType" use="optional"/>
	<xsd:attribute name="EmbeddedText" type="LicenseEmbeddedTextType" use="optional"/>
	<xsd:attribute name="FullText" type="LicenseFullTextType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="MajorVersionObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="MinorVersion" type="MinorVersionObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="MajorVersionNameType" use="required"/>
	<xsd:attribute name="Description" type="MajorVersionDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="MimeTypeObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="MimeTypeNameType" use="required"/>
	<xsd:attribute name="FileTypes" type="MimeTypeFileTypesType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="MinorVersionObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="MinorVersionNameType" use="required"/>
	<xsd:attribute name="Description" type="MinorVersionDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="SecClusGrpObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SecClusGrpMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecClusRoleObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SecClusRoleMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSessionObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SecUserId" type="SecSessionSecUserIdType" use="required"/>
	<xsd:attribute name="Start" type="SecSessionStartType" use="required"/>
	<xsd:attribute name="Finish" type="SecSessionFinishType" use="optional"/>
	<xsd:attribute name="SecProxyId" type="SecSessionSecProxyIdType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecSysGrpInc" type="SecSysGrpIncObjType" />
			<xsd:element name="SecClusGrp" type="SecClusGrpObjType" />
			<xsd:element name="SecTentGrp" type="SecTentGrpObjType" />
			<xsd:element name="SecClusRole" type="SecClusRoleObjType" />
			<xsd:element name="SecTentRole" type="SecTentRoleObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="SecSysGrpNameType" use="optional"/>
	<xsd:attribute name="SecLevel" type="SecSysGrpSecLevelType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpIncObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SubGroup" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysGrpMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecSysRoleEnables" type="SecSysRoleEnablesObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="SecSysRoleNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleEnablesObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="EnableGroup" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecSysRoleMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentGrpObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SecTentGrpMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecTentRoleObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="SecTentRoleMembObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="User" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SecUserPassword" type="SecUserPasswordObjType" />
			<xsd:element name="SecUserEMConf" type="SecUserEMConfObjType" />
			<xsd:element name="SecUserPWReset" type="SecUserPWResetObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="LoginId" type="SecUserLoginIdType" use="required"/>
	<xsd:attribute name="AccountStatus" type="SecUserAccountStatusType" use="required"/>
	<xsd:attribute name="DfltSysGrpName" type="SecUserDfltSysGrpNameType" use="optional"/>
	<xsd:attribute name="DfltClusGrpName" type="SecUserDfltClusGrpNameType" use="optional"/>
	<xsd:attribute name="DfltTentGrpName" type="SecUserDfltTentGrpNameType" use="optional"/>
	<xsd:attribute name="EMailAddress" type="SecUserEMailAddressType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserEMConfObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="ConfirmEMailAddr" type="SecUserEMConfConfirmEMailAddrType" use="required"/>
	<xsd:attribute name="EMailSentStamp" type="SecUserEMConfEMailSentStampType" use="required"/>
	<xsd:attribute name="EMConfirmationUuid6" type="SecUserEMConfEMConfirmationUuid6Type" use="required"/>
	<xsd:attribute name="NewAccount" type="SecUserEMConfNewAccountType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPWHistoryObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="PWReplacedStamp" type="SecUserPWHistoryPWReplacedStampType" use="required"/>
	<xsd:attribute name="PasswordHash" type="SecUserPWHistoryPasswordHashType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPWResetObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="SentToEMailAddr" type="SecUserPWResetSentToEMailAddrType" use="required"/>
	<xsd:attribute name="PasswordResetUuid6" type="SecUserPWResetPasswordResetUuid6Type" use="required"/>
	<xsd:attribute name="NewAccount" type="SecUserPWResetNewAccountType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SecUserPasswordObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="PWSetStamp" type="SecUserPasswordPWSetStampType" use="required"/>
	<xsd:attribute name="PasswordHash" type="SecUserPasswordPasswordHashType" use="required"/>
</xsd:complexType>

<xsd:complexType name="SubProjectObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="MajorVersion" type="MajorVersionObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="SubProjectNameType" use="required"/>
	<xsd:attribute name="Description" type="SubProjectDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="SysClusterObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TenantObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Tld" type="TldObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="TenantName" type="TenantTenantNameType" use="required"/>
</xsd:complexType>

<xsd:complexType name="TldObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TopDomain" type="TopDomainObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="TldNameType" use="required"/>
	<xsd:attribute name="Description" type="TldDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="TopDomainObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TopProject" type="TopProjectObjType" />
			<xsd:element name="License" type="LicenseObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="TopDomainNameType" use="required"/>
	<xsd:attribute name="Description" type="TopDomainDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="TopProjectObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="SubProject" type="SubProjectObjType" />
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="TopProjectNameType" use="required"/>
	<xsd:attribute name="Description" type="TopProjectDescriptionType" use="optional"/>
</xsd:complexType>

<xsd:complexType name="URLProtocolObjType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
		</xsd:choice>
	</xsd:sequence>
	<xsd:attribute name="Name" type="URLProtocolNameType" use="required"/>
	<xsd:attribute name="Description" type="URLProtocolDescriptionType" use="required"/>
	<xsd:attribute name="IsSecure" type="URLProtocolIsSecureType" use="required"/>
</xsd:complexType>

<!-- ************************************************************************
 *
 *	Schema Root Document
 *
 **************************************************************************-->

<xsd:complexType name="CFIntType" mixed="true">
	<xsd:sequence>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Cluster" type="ClusterObjType" />
			<xsd:element name="ISOCcy" type="ISOCcyObjType" />
			<xsd:element name="ISOCtry" type="ISOCtryObjType" />
			<xsd:element name="ISOLang" type="ISOLangObjType" />
			<xsd:element name="ISOTZone" type="ISOTZoneObjType" />
			<xsd:element name="MimeType" type="MimeTypeObjType" />
			<xsd:element name="SecSession" type="SecSessionObjType" />
			<xsd:element name="SecSysGrp" type="SecSysGrpObjType" />
			<xsd:element name="SecSysRole" type="SecSysRoleObjType" />
			<xsd:element name="SecUser" type="SecUserObjType" />
			<xsd:element name="SecUserPWHistory" type="SecUserPWHistoryObjType" />
			<xsd:element name="URLProtocol" type="URLProtocolObjType" />
		</xsd:choice>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="CFInt" type="CFIntType" />

</xsd:schema>
